openapi: 3.2.0
info:
  version: 2016-08-04
  x-release: v4
  title: 'AWS Health APIs and Notifications #X Amz Target=AWSHealth…'
  description: 'Health

    The Health API provides programmatic access to the Health information that appears in the Personal Health Dashboard.'
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png
    backgroundColor: '#FFFFFF'
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: health
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/health-2016-08-04.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
servers:
- url: https://health.us-east-1.amazonaws.com
  variables: {}
  description: The general AWSHealth multi-region endpoint
- url: http://health.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The AWSHealth endpoint for China (Beijing) and China (Ningxia)
- url: https://health.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The AWSHealth endpoint for China (Beijing) and China (Ningxia)
security:
- hmac: []
tags:
- name: '#X Amz Target=AWSHealth 20160804.DescribeEventDetailsForOrganization'
paths:
  /#X-Amz-Target=AWSHealth_20160804.DescribeEventDetailsForOrganization:
    parameters:
    - $ref: '#/components/parameters/X-Amz-Content-Sha256'
    - $ref: '#/components/parameters/X-Amz-Date'
    - $ref: '#/components/parameters/X-Amz-Algorithm'
    - $ref: '#/components/parameters/X-Amz-Credential'
    - $ref: '#/components/parameters/X-Amz-Security-Token'
    - $ref: '#/components/parameters/X-Amz-Signature'
    - $ref: '#/components/parameters/X-Amz-SignedHeaders'
    post:
      operationId: DescribeEventDetailsForOrganization
      description: 'Returns detailed information about one or more specified events for one or more Amazon Web Services accounts in your organization. This information includes standard event data (such as the Amazon Web Services Region and service), an event description, and (depending on the event) possible metadata. This operation doesn''t return affected entities, such as the resources related to the event. To return affected entities, use the DescribeAffectedEntitiesForOrganization operation.


        Before you can call this operation, you must first enable Health to work with Organizations. To do this, call the EnableHealthServiceAccessForOrganization operation from your organization''s management account.


        When you call the DescribeEventDetailsForOrganization operation, specify the organizationEventDetailFilters object in the request. Depending on the Health event type, note the following differences:


        To return event details for a public event, you must specify a null value for the awsAccountId parameter. If you specify an account ID for a public event, Health returns an error message because public events aren''t specific to an account.


        To return event details for an event that is specific to an account in your organization, you must specify the awsAccountId parameter in the request. If you don''t specify an account ID, Health returns an error message because the event is specific to an account in your organization.


        For more information, see Event.


        This operation doesn''t support resource-level permissions. You can''t use this operation to allow or deny access to specific Health events. For more information, see Resource- and action-based conditions in the Health User Guide.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeEventDetailsForOrganizationResponse'
              examples:
                DescribeEventDetailsForOrganization200Example:
                  summary: Default DescribeEventDetailsForOrganization 200 response
                  x-microcks-default: true
                  value:
                    eventArn: arn:aws:health:us-east-1::event/EC2/AWS_EC2_INSTANCE_ISSUE/abc
                    statusCode: open
        '480':
          description: UnsupportedLocale
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedLocale'
              examples:
                DescribeEventDetailsForOrganization480Example:
                  summary: Default DescribeEventDetailsForOrganization 480 response
                  x-microcks-default: true
                  value:
                    eventArn: arn:aws:health:us-east-1::event/EC2/AWS_EC2_INSTANCE_ISSUE/abc
                    statusCode: open
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeEventDetailsForOrganizationRequest'
      parameters:
      - name: X-Amz-Target
        in: header
        required: true
        schema:
          type: string
          enum:
          - AWSHealth_20160804.DescribeEventDetailsForOrganization
      summary: Amazon Health Dashboard Describe Event Details for Organization
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - '#X Amz Target=AWSHealth 20160804.DescribeEventDetailsForOrganization'
components:
  schemas:
    UnsupportedLocale: {}
    DescribeEventDetailsForOrganizationSuccessfulSet:
      type: array
      items:
        $ref: '#/components/schemas/OrganizationEventDetails'
    metadataValue:
      type: string
      maxLength: 32766
    region:
      type: string
      pattern: '[^:/]{2,25}'
      minLength: 2
      maxLength: 25
    OrganizationEventDetails:
      type: object
      properties:
        awsAccountId:
          allOf:
          - $ref: '#/components/schemas/accountId'
          - description: The 12-digit Amazon Web Services account numbers that contains the affected entities.
        event:
          $ref: '#/components/schemas/Event'
        eventDescription:
          $ref: '#/components/schemas/EventDescription'
        eventMetadata:
          allOf:
          - $ref: '#/components/schemas/eventMetadata'
          - description: Additional metadata about the event.
      description: Detailed information about an event. A combination of an <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html">Event</a> object, an <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_EventDescription.html">EventDescription</a> object, and additional metadata about the event. Returned by the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html">DescribeEventDetailsForOrganization</a> operation.
    EventAccountFilter:
      type: object
      required:
      - eventArn
      properties:
        eventArn:
          allOf:
          - $ref: '#/components/schemas/eventArn'
          - description: <p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>
        awsAccountId:
          allOf:
          - $ref: '#/components/schemas/accountId'
          - description: The 12-digit Amazon Web Services account numbers that contains the affected entities.
      description: The values used to filter results from the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html">DescribeEventDetailsForOrganization</a> and <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html">DescribeAffectedEntitiesForOrganization</a> operations.
    eventDescription:
      type: string
    Event:
      type: object
      properties:
        arn:
          allOf:
          - $ref: '#/components/schemas/eventArn'
          - description: <p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>
        service:
          allOf:
          - $ref: '#/components/schemas/service'
          - description: The Amazon Web Services service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.
        eventTypeCode:
          allOf:
          - $ref: '#/components/schemas/eventTypeCode'
          - description: The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.
        eventTypeCategory:
          allOf:
          - $ref: '#/components/schemas/eventTypeCategory'
          - description: A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.
        region:
          allOf:
          - $ref: '#/components/schemas/region'
          - description: The Amazon Web Services Region name of the event.
        availabilityZone:
          allOf:
          - $ref: '#/components/schemas/availabilityZone'
          - description: The Amazon Web Services Availability Zone of the event. For example, us-east-1a.
        startTime:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          - description: The date and time that the event began.
        endTime:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          - description: The date and time that the event ended.
        lastUpdatedTime:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          - description: The most recent date and time that the event was updated.
        statusCode:
          allOf:
          - $ref: '#/components/schemas/eventStatusCode'
          - description: The most recent status of the event. Possible values are <code>open</code>, <code>closed</code>, and <code>upcoming</code>.
        eventScopeCode:
          allOf:
          - $ref: '#/components/schemas/eventScopeCode'
          - description: <p>This parameter specifies if the Health event is a public Amazon Web Services service event or an account-specific event.</p> <ul> <li> <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>, then the <code>affectedAccounts</code> value is always empty.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>, then the <code>affectedAccounts</code> value lists the affected Amazon Web Services accounts in your organization. For example, if an event affects a service such as Amazon Elastic Compute Cloud and you have Amazon Web Services accounts that use that service, those account IDs appear in the response.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>NONE</code>, then the <code>eventArn</code> that you specified in the request is invalid or doesn't exist.</p> </li> </ul>
      description: <p>Summary information about an Health event.</p> <p>Health events can be public or account-specific:</p> <ul> <li> <p> <i>Public events</i> might be service events that are not specific to an Amazon Web Services account. For example, if there is an issue with an Amazon Web Services Region, Health provides information about the event, even if you don't use services or resources in that Region.</p> </li> <li> <p> <i>Account-specific</i> events are specific to either your Amazon Web Services account or an account in your organization. For example, if there's an issue with Amazon Elastic Compute Cloud in a Region that you use, Health provides information about the event and the affected resources in the account.</p> </li> </ul> <p>You can determine if an event is public or account-specific by using the <code>eventScopeCode</code> parameter. For more information, see <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html#AWSHealth-Type-Event-eventScopeCode">eventScopeCode</a>.</p>
    string:
      type: string
    eventTypeCode:
      type: string
      pattern: '[a-zA-Z0-9\_\-]{3,100}'
      minLength: 3
      maxLength: 100
    eventArn:
      type: string
      pattern: arn:aws(-[a-z]+(-[a-z]+)?)?:health:[^:]*:[^:]*:event(?:/[\w-]+){3}
      maxLength: 1600
    OrganizationEventDetailFiltersList:
      type: array
      items:
        $ref: '#/components/schemas/EventAccountFilter'
      minItems: 1
      maxItems: 10
    DescribeEventDetailsForOrganizationResponse:
      type: object
      properties:
        successfulSet:
          allOf:
          - $ref: '#/components/schemas/DescribeEventDetailsForOrganizationSuccessfulSet'
          - description: Information about the events that could be retrieved.
        failedSet:
          allOf:
          - $ref: '#/components/schemas/DescribeEventDetailsForOrganizationFailedSet'
          - description: Error messages for any events that could not be retrieved.
    locale:
      type: string
      pattern: .{2,256}
      minLength: 2
      maxLength: 256
    eventTypeCategory:
      type: string
      enum:
      - issue
      - accountNotification
      - scheduledChange
      - investigation
      minLength: 3
      maxLength: 255
    eventStatusCode:
      type: string
      enum:
      - open
      - closed
      - upcoming
    eventMetadata:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/metadataValue'
    service:
      type: string
      pattern: '[^:/]{2,30}'
      minLength: 2
      maxLength: 30
    availabilityZone:
      type: string
      pattern: '[a-z]{2}\-[0-9a-z\-]{4,16}'
      minLength: 6
      maxLength: 18
    DescribeEventDetailsForOrganizationFailedSet:
      type: array
      items:
        $ref: '#/components/schemas/OrganizationEventDetailsErrorItem'
    accountId:
      type: string
      pattern: ^\S+$
      maxLength: 12
    timestamp:
      type: string
      format: date-time
    EventDescription:
      type: object
      properties:
        latestDescription:
          allOf:
          - $ref: '#/components/schemas/eventDescription'
          - description: The most recent description of the event.
      description: The detailed description of the event. Included in the information returned by the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html">DescribeEventDetails</a> operation.
    OrganizationEventDetailsErrorItem:
      type: object
      properties:
        awsAccountId:
          allOf:
          - $ref: '#/components/schemas/accountId'
          - description: Error information returned when a <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html">DescribeEventDetailsForOrganization</a> operation can't find a specified event.
        eventArn:
          allOf:
          - $ref: '#/components/schemas/eventArn'
          - description: <p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>
        errorName:
          allOf:
          - $ref: '#/components/schemas/string'
          - description: The name of the error.
        errorMessage:
          allOf:
          - $ref: '#/components/schemas/string'
          - description: <p>A message that describes the error.</p> <p>If you call the <code>DescribeEventDetailsForOrganization</code> operation and receive one of the following errors, follow the recommendations in the message:</p> <ul> <li> <p>We couldn't find a public event that matches your request. To find an event that is account specific, you must enter an Amazon Web Services account ID in the request.</p> </li> <li> <p>We couldn't find an account specific event for the specified Amazon Web Services account. To find an event that is public, you must enter a null value for the Amazon Web Services account ID in the request.</p> </li> <li> <p>Your Amazon Web Services account doesn't include the Amazon Web Services Support plan required to use the Health API. You must have either a Business, Enterprise On-Ramp, or Enterprise Support plan.</p> </li> </ul>
      description: Error information returned when a <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html">DescribeEventDetailsForOrganization</a> operation can't find a specified event.
    DescribeEventDetailsForOrganizationRequest:
      type: object
      required:
      - organizationEventDetailFilters
      title: DescribeEventDetailsForOrganizationRequest
      properties:
        organizationEventDetailFilters:
          allOf:
          - $ref: '#/components/schemas/OrganizationEventDetailFiltersList'
          - description: A set of JSON elements that includes the <code>awsAccountId</code> and the <code>eventArn</code>.
        locale:
          allOf:
          - $ref: '#/components/schemas/locale'
          - description: The locale (language) to return information in. English (en) is the default and the only supported value at this time.
    eventScopeCode:
      type: string
      enum:
      - PUBLIC
      - ACCOUNT_SPECIFIC
      - NONE
  parameters:
    X-Amz-Date:
      name: X-Amz-Date
      in: header
      schema:
        type: string
      required: false
    X-Amz-SignedHeaders:
      name: X-Amz-SignedHeaders
      in: header
      schema:
        type: string
      required: false
    X-Amz-Signature:
      name: X-Amz-Signature
      in: header
      schema:
        type: string
      required: false
    X-Amz-Security-Token:
      name: X-Amz-Security-Token
      in: header
      schema:
        type: string
      required: false
    X-Amz-Credential:
      name: X-Amz-Credential
      in: header
      schema:
        type: string
      required: false
    X-Amz-Algorithm:
      name: X-Amz-Algorithm
      in: header
      schema:
        type: string
      required: false
    X-Amz-Content-Sha256:
      name: X-Amz-Content-Sha256
      in: header
      schema:
        type: string
      required: false
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v4
      x-amazon-apigateway-authtype: awsSigv4
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/health/
x-hasEquivalentPaths: true
