openapi: 3.2.0
info:
  version: 2016-08-04
  x-release: v4
  title: 'AWS Health APIs and Notifications #X Amz Target=AWSHealth…'
  description: 'Health

    The Health API provides programmatic access to the Health information that appears in the Personal Health Dashboard.'
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png
    backgroundColor: '#FFFFFF'
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: health
  x-origin:
  - contentType: application/json
    url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/health-2016-08-04.normal.json
    converter:
      url: https://github.com/mermade/aws2openapi
      version: 1.0.0
    x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
  - cloud
  x-preferred: true
servers:
- url: https://health.us-east-1.amazonaws.com
  variables: {}
  description: The general AWSHealth multi-region endpoint
- url: http://health.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The AWSHealth endpoint for China (Beijing) and China (Ningxia)
- url: https://health.{region}.amazonaws.com.cn
  variables:
    region:
      description: The AWS region
      enum:
      - cn-north-1
      - cn-northwest-1
      default: cn-north-1
  description: The AWSHealth endpoint for China (Beijing) and China (Ningxia)
security:
- hmac: []
tags:
- name: '#X Amz Target=AWSHealth 20160804.DescribeEventsForOrganization'
paths:
  /#X-Amz-Target=AWSHealth_20160804.DescribeEventsForOrganization:
    parameters:
    - $ref: '#/components/parameters/X-Amz-Content-Sha256'
    - $ref: '#/components/parameters/X-Amz-Date'
    - $ref: '#/components/parameters/X-Amz-Algorithm'
    - $ref: '#/components/parameters/X-Amz-Credential'
    - $ref: '#/components/parameters/X-Amz-Security-Token'
    - $ref: '#/components/parameters/X-Amz-Signature'
    - $ref: '#/components/parameters/X-Amz-SignedHeaders'
    post:
      operationId: DescribeEventsForOrganization
      description: 'Returns information about events across your organization in Organizations. You can use thefilters parameter to specify the events that you want to return. Events are returned in a summary form and don''t include the affected accounts, detailed description, any additional metadata that depends on the event type, or any affected resources. To retrieve that information, use the following operations:


        DescribeAffectedAccountsForOrganization


        DescribeEventDetailsForOrganization


        DescribeAffectedEntitiesForOrganization


        If you don''t specify a filter, the DescribeEventsForOrganizations returns all events across your organization. Results are sorted by lastModifiedTime, starting with the most recent event.


        For more information about the different types of Health events, see Event.


        Before you can call this operation, you must first enable Health to work with Organizations. To do this, call the EnableHealthServiceAccessForOrganization operation from your organization''s management account.


        This API operation uses pagination. Specify the nextToken parameter in the next request to return more results.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeEventsForOrganizationResponse'
              examples:
                DescribeEventsForOrganization200Example:
                  summary: Default DescribeEventsForOrganization 200 response
                  x-microcks-default: true
                  value:
                    eventArn: arn:aws:health:us-east-1::event/EC2/AWS_EC2_INSTANCE_ISSUE/abc
                    statusCode: open
        '480':
          description: InvalidPaginationToken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidPaginationToken'
              examples:
                DescribeEventsForOrganization480Example:
                  summary: Default DescribeEventsForOrganization 480 response
                  x-microcks-default: true
                  value:
                    eventArn: arn:aws:health:us-east-1::event/EC2/AWS_EC2_INSTANCE_ISSUE/abc
                    statusCode: open
        '481':
          description: UnsupportedLocale
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedLocale'
              examples:
                DescribeEventsForOrganization481Example:
                  summary: Default DescribeEventsForOrganization 481 response
                  x-microcks-default: true
                  value:
                    eventArn: arn:aws:health:us-east-1::event/EC2/AWS_EC2_INSTANCE_ISSUE/abc
                    statusCode: open
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeEventsForOrganizationRequest'
      parameters:
      - name: maxResults
        in: query
        schema:
          type: string
        description: Pagination limit
        required: false
      - name: nextToken
        in: query
        schema:
          type: string
        description: Pagination token
        required: false
      - name: X-Amz-Target
        in: header
        required: true
        schema:
          type: string
          enum:
          - AWSHealth_20160804.DescribeEventsForOrganization
      summary: Amazon Health Dashboard Describe Events for Organization
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - '#X Amz Target=AWSHealth 20160804.DescribeEventsForOrganization'
components:
  schemas:
    UnsupportedLocale: {}
    region:
      type: string
      pattern: '[^:/]{2,25}'
      minLength: 2
      maxLength: 25
    entityArn:
      type: string
      pattern: .{0,1600}
      maxLength: 1600
    eventTypeList:
      type: array
      items:
        $ref: '#/components/schemas/eventType'
      minItems: 1
      maxItems: 10
    OrganizationEventList:
      type: array
      items:
        $ref: '#/components/schemas/OrganizationEvent'
    DescribeEventsForOrganizationResponse:
      type: object
      properties:
        events:
          allOf:
          - $ref: '#/components/schemas/OrganizationEventList'
          - description: The events that match the specified filter criteria.
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
    eventTypeCode:
      type: string
      pattern: '[a-zA-Z0-9\_\-]{3,100}'
      minLength: 3
      maxLength: 100
    InvalidPaginationToken: {}
    maxResultsLowerRange:
      type: integer
      minimum: 1
      maximum: 100
    eventType:
      type: string
      pattern: '[^:/]{3,100}'
      minLength: 3
      maxLength: 100
    DescribeEventsForOrganizationRequest:
      type: object
      title: DescribeEventsForOrganizationRequest
      properties:
        filter:
          allOf:
          - $ref: '#/components/schemas/OrganizationEventFilter'
          - description: Values to narrow the results returned.
        nextToken:
          allOf:
          - $ref: '#/components/schemas/nextToken'
          - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
        maxResults:
          allOf:
          - $ref: '#/components/schemas/maxResultsLowerRange'
          - description: The maximum number of items to return in one batch, between 10 and 100, inclusive.
        locale:
          allOf:
          - $ref: '#/components/schemas/locale'
          - description: The locale (language) to return information in. English (en) is the default and the only supported value at this time.
    eventArn:
      type: string
      pattern: arn:aws(-[a-z]+(-[a-z]+)?)?:health:[^:]*:[^:]*:event(?:/[\w-]+){3}
      maxLength: 1600
    entityArnList:
      type: array
      items:
        $ref: '#/components/schemas/entityArn'
      minItems: 1
      maxItems: 99
    DateTimeRange:
      type: object
      properties:
        from:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          - description: The starting date and time of a time range.
        to:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          - description: The ending date and time of a time range.
      description: 'A range of dates and times that is used by the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_EventFilter.html">EventFilter</a> and <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_EntityFilter.html">EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code> inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code> is set: match items where the timestamp value is equal to or before <code>to</code>.'
    entityValueList:
      type: array
      items:
        $ref: '#/components/schemas/entityValue'
      minItems: 1
      maxItems: 99
    eventStatusCode:
      type: string
      enum:
      - open
      - closed
      - upcoming
    eventTypeCategory:
      type: string
      enum:
      - issue
      - accountNotification
      - scheduledChange
      - investigation
      minLength: 3
      maxLength: 255
    locale:
      type: string
      pattern: .{2,256}
      minLength: 2
      maxLength: 256
    nextToken:
      type: string
      pattern: '[a-zA-Z0-9=/+_.-]{4,10000}'
      minLength: 4
      maxLength: 10000
    service:
      type: string
      pattern: '[^:/]{2,30}'
      minLength: 2
      maxLength: 30
    awsAccountIdsList:
      type: array
      items:
        $ref: '#/components/schemas/accountId'
      minItems: 1
      maxItems: 50
    serviceList:
      type: array
      items:
        $ref: '#/components/schemas/service'
      minItems: 1
      maxItems: 10
    OrganizationEventFilter:
      type: object
      properties:
        eventTypeCodes:
          allOf:
          - $ref: '#/components/schemas/eventTypeList'
          - description: 'A list of unique identifiers for event types. For example, <code>"AWS_EC2_SYSTEM_MAINTENANCE_EVENT","AWS_RDS_MAINTENANCE_SCHEDULED".</code> '
        awsAccountIds:
          allOf:
          - $ref: '#/components/schemas/awsAccountIdsList'
          - description: A list of 12-digit Amazon Web Services account numbers that contains the affected entities.
        services:
          allOf:
          - $ref: '#/components/schemas/serviceList'
          - description: The Amazon Web Services services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.
        regions:
          allOf:
          - $ref: '#/components/schemas/regionList'
          - description: A list of Amazon Web Services Regions.
        startTime:
          $ref: '#/components/schemas/DateTimeRange'
        endTime:
          $ref: '#/components/schemas/DateTimeRange'
        lastUpdatedTime:
          $ref: '#/components/schemas/DateTimeRange'
        entityArns:
          allOf:
          - $ref: '#/components/schemas/entityArnList'
          - description: A list of entity ARNs (unique identifiers).
        entityValues:
          allOf:
          - $ref: '#/components/schemas/entityValueList'
          - description: A list of entity identifiers, such as EC2 instance IDs (i-34ab692e) or EBS volumes (vol-426ab23e).
        eventTypeCategories:
          allOf:
          - $ref: '#/components/schemas/eventTypeCategoryList'
          - description: A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.
        eventStatusCodes:
          allOf:
          - $ref: '#/components/schemas/eventStatusCodeList'
          - description: A list of event status codes.
      description: The values to filter results from the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventsForOrganization.html">DescribeEventsForOrganization</a> operation.
    accountId:
      type: string
      pattern: ^\S+$
      maxLength: 12
    regionList:
      type: array
      items:
        $ref: '#/components/schemas/region'
      minItems: 1
      maxItems: 10
    eventTypeCategoryList:
      type: array
      items:
        $ref: '#/components/schemas/eventTypeCategory'
      minItems: 1
      maxItems: 10
    timestamp:
      type: string
      format: date-time
    eventStatusCodeList:
      type: array
      items:
        $ref: '#/components/schemas/eventStatusCode'
      minItems: 1
      maxItems: 6
    OrganizationEvent:
      type: object
      properties:
        arn:
          allOf:
          - $ref: '#/components/schemas/eventArn'
          - description: <p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>
        service:
          allOf:
          - $ref: '#/components/schemas/service'
          - description: The Amazon Web Services service that is affected by the event, such as EC2 and RDS.
        eventTypeCode:
          allOf:
          - $ref: '#/components/schemas/eventTypeCode'
          - description: The unique identifier for the event type. The format is <code>AWS_SERVICE_DESCRIPTION</code>. For example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.
        eventTypeCategory:
          allOf:
          - $ref: '#/components/schemas/eventTypeCategory'
          - description: A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.
        eventScopeCode:
          allOf:
          - $ref: '#/components/schemas/eventScopeCode'
          - description: <p>This parameter specifies if the Health event is a public Amazon Web Services service event or an account-specific event.</p> <ul> <li> <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>, then the <code>affectedAccounts</code> value is always empty.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>, then the <code>affectedAccounts</code> value lists the affected Amazon Web Services accounts in your organization. For example, if an event affects a service such as Amazon Elastic Compute Cloud and you have Amazon Web Services accounts that use that service, those account IDs appear in the response.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>NONE</code>, then the <code>eventArn</code> that you specified in the request is invalid or doesn't exist.</p> </li> </ul>
        region:
          allOf:
          - $ref: '#/components/schemas/region'
          - description: The Amazon Web Services Region name of the event.
        startTime:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          - description: The date and time that the event began.
        endTime:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          - description: The date and time that the event ended.
        lastUpdatedTime:
          allOf:
          - $ref: '#/components/schemas/timestamp'
          - description: The most recent date and time that the event was updated.
        statusCode:
          allOf:
          - $ref: '#/components/schemas/eventStatusCode'
          - description: The most recent status of the event. Possible values are <code>open</code>, <code>closed</code>, and <code>upcoming</code>.
      description: Summary information about an event, returned by the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventsForOrganization.html">DescribeEventsForOrganization</a> operation.
    entityValue:
      type: string
      pattern: .{0,1224}
      maxLength: 1224
    eventScopeCode:
      type: string
      enum:
      - PUBLIC
      - ACCOUNT_SPECIFIC
      - NONE
  parameters:
    X-Amz-Date:
      name: X-Amz-Date
      in: header
      schema:
        type: string
      required: false
    X-Amz-SignedHeaders:
      name: X-Amz-SignedHeaders
      in: header
      schema:
        type: string
      required: false
    X-Amz-Signature:
      name: X-Amz-Signature
      in: header
      schema:
        type: string
      required: false
    X-Amz-Security-Token:
      name: X-Amz-Security-Token
      in: header
      schema:
        type: string
      required: false
    X-Amz-Credential:
      name: X-Amz-Credential
      in: header
      schema:
        type: string
      required: false
    X-Amz-Algorithm:
      name: X-Amz-Algorithm
      in: header
      schema:
        type: string
      required: false
    X-Amz-Content-Sha256:
      name: X-Amz-Content-Sha256
      in: header
      schema:
        type: string
      required: false
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v4
      x-amazon-apigateway-authtype: awsSigv4
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/health/
x-hasEquivalentPaths: true
